<div class="container" dir="ltr">

    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="Login()">
        <nz-form-item>
            <nz-form-control nzErrorTip="The input is not valid E-mail!">
                <nz-input-group nzPrefixIcon="mail">
                    <input type="text" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <!-- <app-reusable-text-input [label]="'Name'" formControlName="Username"></app-reusable-text-input> -->




        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="Password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <div nz-row class="login-form-margin">
            <!-- <div nz-col [nzSpan]="12">
                <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
            </div> -->

        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">تسجيل دخول</button>
    </form>

</div>