<app-section-heading [title]="'Social media'" [removeReadMore]="true">
</app-section-heading>


<div class="services-content">
    <div class="service" (click)="openNewTab('https://twitter.com/HasadAljanub')">

        <div class="overlay HasadAljanub"></div>
        <div class="title">
            <h3 class="serviceName">حصاد الجنوب</h3>
            <div class="serviceImgThumb HasadAljanubImgThumb"></div>
        </div>


    </div>
    <div class="service" (click)="openNewTab('https://twitter.com/ShuhadaAljanub')">

        <div class="overlay ShuhadaAljanub"></div>
        <div class="title">
            <h3 class="serviceName">شهداء الجنوب</h3>
            <span class="serviceImgThumb ShuhadaAljanubImgThumb"></span>
        </div>
    </div>

    <div class="service" (click)="openNewTab('https://twitter.com/SouthLandmarks')">
        <div class="overlay SouthLandmarks"></div>
        <div class="title">
            <h3 class="serviceName">معالم الجنوب</h3>
            <span class="serviceImgThumb SouthLandmarksImgThumb"></span>
        </div>

    </div>

    <div class="service" (click)="openNewTab('https://twitter.com/SqourNews')">
        <div class="overlay SqourNews"></div>
        <div class="title">
            <h3 class="serviceName">صقور الجنوب | NEWS </h3>
            <span class="serviceImgThumb SqourNewsImgThumb"></span>
        </div>
    </div>


    <div class="service" (click)="openNewTab('https://twitter.com/TrendAljanub')">
        <div class="overlay TrendAljanub"></div>
        <div class="title">
            <h3 class="serviceName">ترند الجنوب</h3>
            <span class="serviceImgThumb TrendAljanubImgThumb"></span>
        </div>
    </div>


    <div class="service" (click)="openNewTab('https://twitter.com/SqourAljanub_EN')">
        <div class="overlay SqourAljanub_EN"></div>
        <div class="title">
            <h3 class="serviceName">SqourAljanub | English</h3>
            <span class="serviceImgThumb SqourAljanubENImgThumb"></span>
        </div>
    </div>
    <div class="service" (click)="openNewTab('https://twitter.com/SqourSport')">
        <div class="overlay SqourSport"></div>
        <div class="title">
            <h3 class="serviceName">صقور الجنوب | رياضة</h3>
            <span class="serviceImgThumb SqourSportImgThumb"></span>
        </div>
    </div>


</div>