<div class="AboutSite">

    <div class="container">
        <div class="row">
            <div class="logo col-12 col-md-4 col-lg-4">
                <img class="my-2" src="../../../assets/images/SIU_Logo 2.png" alt="SqourAljanub-logo">
            </div>

            <div class="description col-12 col-md-8 col-lg-4">
                منصة إعلامية رقمية جنوبية تواكب الأحداث وتنقل الأخبار بإحترافية

                <p style="text-align:left;margin-top: 10px;"> A southern digital media platform,keeping abreast of events and prof</p>
            </div>
            <div class="col-12 col-md-12 col-lg-4 ">

                <div class="social-icons">


                    <a class="social-icon social-icon--twitter">
                        <!-- <i class="fa fa-twitter"></i> -->
                        <i nz-icon nzType="twitter-square" nzTheme="fill" (click)="openNewTab('https://twitter.com/SqourAljanub')"></i>
                        <div class="tooltip">Twitter</div>
                    </a>

                    <a class="social-icon social-icon--instagram">
                        <i nz-icon nzType="instagram" nzTheme="fill" (click)="openNewTab('https://www.instagram.com/sqouraljanub/')"></i>
                        <div class="tooltip">Instagram</div>
                    </a>

                    <a class="social-icon social-icon--facebook">
                        <i nz-icon nzType="facebook" nzTheme="fill" (click)="openNewTab('https://www.facebook.com/SqourAljanub/')"></i>

                        <div class="tooltip">Facebook</div>
                    </a>

                    <a class="social-icon social-icon--youtube">
                        <i nz-icon nzType="youtube" nzTheme="fill" (click)="openNewTab('https://www.youtube.com/channel/UCIpluKC1axp-OwJf-iAeJ9g')"></i>

                        <div class="tooltip">Youtube</div>
                    </a>

                    <a class="social-icon social-icon--telegram">
                        <i nz-icon nzType="send" nzTheme="outline" (click)="openNewTab('https://t.me/Suquraljnub')"></i>

                        <div class="tooltip">Telegram</div>
                    </a>

                    <a class="social-icon social-icon--rss">
                        <!-- <i nz-icon nzType="send" nzTheme="outline" (click)="openNewTab('https://t.me/Suquraljnub')"></i> -->
                        <!-- <i class="fa-sharp fa-solid fa-rss" [routerLink]="['/Rss']"></i> -->
                        <fa-icon [icon]="faRss" [routerLink]="['/Rss']"></fa-icon>

                        <div class="tooltip">RssFeed</div>
                    </a>

                </div>

            </div>

        </div>


    </div>


</div>

<div class="developedBy">

    <div class="container">
        Developed By Eng Bassem Alshaibi & Ahmed Ali
    </div>



</div>