<div class="top-header">

    <div class="container">

        <div>
            <span [routerLink]="[ './About']">About</span>
            <nz-divider nzType="vertical"></nz-divider>

            <span [routerLink]="[ './Contacts']">Contact</span>
        </div>
        <div>
            <i nz-icon nzType="twitter-square" nzTheme="fill" (click)="openNewTab('https://twitter.com/SqourAljanub')"></i>
            <nz-divider nzType="vertical"></nz-divider>

            <i nz-icon nzType="instagram" nzTheme="fill" (click)="openNewTab('https://www.instagram.com/sqouraljanub/')"></i>
            <nz-divider nzType="vertical"></nz-divider>

            <i nz-icon nzType="facebook" nzTheme="fill" (click)="openNewTab('https://www.facebook.com/SqourAljanub/')"></i>
            <nz-divider nzType="vertical"></nz-divider>

            <i nz-icon nzType="youtube" nzTheme="fill" (click)="openNewTab('https://www.youtube.com/channel/UCIpluKC1axp-OwJf-iAeJ9g')"></i>
            <nz-divider nzType="vertical"></nz-divider>

            <i nz-icon nzType="send" nzTheme="outline" (click)="openNewTab('https://t.me/Suquraljnub')"></i>

        </div>


    </div>





</div>




<header class="header">
    <div class="container d-flex justify-content-center">


        <img class="my-2" src="../../../assets/images/SIU_Logo 3.png" alt="SqourAljanub-logo">

    </div>
</header>