<div class="container">

    <div class="row">

        <div class=" col-12 col-lg-8">





            <div>
                <img class="mt-5" src="../../../assets/images/SIU_Logo 3.png" alt="SIU_Logo 3.png">

                <div class="description mt-5">

                    <p style="text-align:left;margin-top: 10px;"> A digital media platform,keeping abreast of events and prof</p>
                </div>

                <div class="social-icons mt-5">


                    <a class="social-icon social-icon--twitter">
                        <!-- <i class="fa fa-twitter"></i> -->
                        <i nz-icon nzType="twitter-square" nzTheme="fill" (click)="openNewTab('https://twitter.com/SqourAljanub')"></i>
                        <div class="tooltip">Twitter</div>
                    </a>

                    <a class="social-icon social-icon--instagram">
                        <i nz-icon nzType="instagram" nzTheme="fill" (click)="openNewTab('https://www.instagram.com/sqouraljanub/')"></i>
                        <div class="tooltip">Instagram</div>
                    </a>

                    <a class="social-icon social-icon--facebook">
                        <i nz-icon nzType="facebook" nzTheme="fill" (click)="openNewTab('https://www.facebook.com/SqourAljanub/')"></i>

                        <div class="tooltip">Facebook</div>
                    </a>

                    <a class="social-icon social-icon--youtube">
                        <i nz-icon nzType="youtube" nzTheme="fill" (click)="openNewTab('https://www.youtube.com/channel/UCIpluKC1axp-OwJf-iAeJ9g')"></i>

                        <div class="tooltip">Youtube</div>
                    </a>

                    <a class="social-icon social-icon--telegram">
                        <i nz-icon nzType="send" nzTheme="outline" (click)="openNewTab('https://t.me/Suquraljnub')"></i>

                        <div class="tooltip">Telegram</div>
                    </a>

                </div>


            </div>




        </div>
        <div class="side col-12 col-lg-4 mt-5 ">

            <app-editor-choice-inside></app-editor-choice-inside>
            <app-our-services></app-our-services>
        </div>


    </div>

</div>