<div class="container">

    <div class="row">

        <div class=" col-12 col-lg-8">





            <div>
                <img class="mt-5" src="../../../assets/images/SIU_Logo 3.png" alt="SIU_Logo 3">

                <div class="description mt-5">
                    You can contact us via the following WhatsApp number.
                    <p style="direction:ltr ;font-weight: 900;">+91XXXXXXXXXXX</p>
                </div>

            </div>




        </div>
        <div class="side col-12 col-lg-4 mt-5 ">

            <app-editor-choice-inside></app-editor-choice-inside>
            <app-our-services></app-our-services>
        </div>


    </div>

</div>