.shareBtns {
    min-height: 40px;
    border-radius: 8px;
    background-color: #F5F5F5;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shareBtns .shareTxt {
    font-size: 1.1rem;
    font-weight: 400;
}

share-buttons {
    display: inline;
}