<div class="shareBtns">

    <span class="shareTxt">شارك</span>
    <span class="shareIcon" nz-icon nzType="share-alt" nzTheme="outline"></span>
    <nz-divider nzType="vertical"></nz-divider>

    <share-buttons [theme]="'default'" [include]="['facebook','twitter','whatsapp','telegram','copy','messenger','email','print','sms']" [exclude]="['linkedin','pinterest','reddit','tumblr','mix','viber','vk','xing','line']" [show]="5" [title]="title" [description]="desc"
        [image]="img" [tags]="['صقور_الجنوب','SqourAljanub']" [autoSetMeta]="false" twitterAccount="SqourAljanub"></share-buttons>




</div>